.itinerary-grid {
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    grid-template-rows: 59% 28% 12%;
    margin-bottom: 20px;
}
.background {
    grid-column: 1/4;
    grid-row: 1/4;
}
.itinerary-display {
    grid-column: 2/3;
    grid-row: 1/2;
    color: var(--light-text);
    text-align: center;
}
.travelers {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}
.select-all {
    grid-column: 1/2;
    grid-row: 1/2;
}
.bryant {
    grid-column: 2/3;
    grid-row: 1/2;
}
.vanessa {
    grid-column: 2/3;
    grid-row: 2/3;
}
.celeste {
    grid-column: 3/4;
    grid-row: 1/2;
}
.hannah {
    grid-column: 3/4;
    grid-row: 2/3;
}
.aaron {
    grid-column: 4/5;
    grid-row: 1/2;
}
.timothy {
    grid-column: 4/5;
    grid-row: 2/3;
}
#itinerary {
    text-align: center;
    line-height: 0.5;
}