#canvas {
    left: 0px;
    top: 20px;
    margin: 20px;
    background-image: linear-gradient(
        to right,
        var(--background),
        var(--primary) 25%,
        var(--primary) 75%,
        var(--background));
    cursor: pointer;
}
