/* Local styles for 7s4e.org/games, last updated 24 July 2023.

    Table of Contents                                                    Line #
    ---------------------------------------------------------------------------
    Custom properties ...................................................    x
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.background {
    opacity: 0.1;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: auto;
}
.header, main {
    position: relative;
}
#wordle-wrapper {
    max-width: 500px;
    margin: 50px auto;
    border: 5px ridge var(--tertiary);
    background-color: var(--background);
}
#game-rows {
    margin: 5%;
}
.round {
    padding: 2%;
}
.letter {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
    margin: 0 1%;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 5px;
    font-size: xx-large;
}
.rows {
    display: block;
    padding: 0.5%;
}
.keys {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    height: 25px;
    width: 25px;
    padding: 3px
}
.unused {
    background-color: white;
}
.used {
    background-color: #6e7173;
    color: white;
}
.within {
    background-color: #bfa556;
    color: white;
}
.match {
    background-color: #6ca663;
    color: white;
}
.win {
    background-color: gold;
}
.lose {
    background-color: red;
}
