/* Document
 * ----------------------------------------------------------------------------
 */
:root {
    /* Color */
    --background: #76abdf; /* ruddy blue */
    --primary: #24468f; /* Marian blue */
    --secondary: #6c8f2b; /* avacado */
    --tertiary: #db7763; /* burnt sienna */
    --accent: #a2db37; /* yellow green */
    --dark-text: black;
    --light-text: white;

    /* Layout */
    --max-width: 850px;
    --min-width: 400px;
}
body {
    background-color: var(--background);
    color: var(--dark-text);
}
.content-wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* Header & Footer
 * ----------------------------------------------------------------------------
*/
header, footer{ /* header bar, excluding header content */
    background-image: linear-gradient(to right, var(--background), var(--secondary));
}
.header {
    display: grid;
    grid-template-columns: 50px 1fr 3fr;
}
.header img {
    grid-column: 1/2;
    display: block;
    margin: 0 auto;
    padding: 4px;
    height: 42px;
}
nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
}
nav a {
    display: flex;
    align-self: center;
    height: 84%;
    box-sizing: border-box;
    padding: 2px;
    text-decoration: none;
    background: linear-gradient(var(--accent) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.5s, background-position 0s;
    /* https://css-tricks.com/cool-hover-effects-using-background-properties/ */
}
nav a span {
    align-self: center;
}
nav a.active {
    background-color: var(--tertiary);
    font-weight: bold;
}
nav a:link {
    color: var(--primary);
}
nav a:visited {
    color: var(--dark-text);
}
nav a:focus {
    border: 5px solid var(--accent);
}
nav a:hover {
    background-color: var(--accent);
    --p: 100%;
}
nav a:active {
    background-color: var(--secondary);
}
nav a.inactive {
    font-style: italic;
    pointer-events: none;
}
.updated {
    text-align: right;
}

/* Images
 * ----------------------------------------------------------------------------
*/
.banner {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}
.portrait {
    width: 40%;
    float: right;
    margin: 3px;
    border: 2px solid var(--secondary);
}
.background {
    width: 100%;
}

/* Text
 * ----------------------------------------------------------------------------
*/
.title {
    color: var(--primary);
    text-align: center;
}
.title span {
    font-style: italic;
}
p span {
    font-style: italic;
    font-weight: bold;
}
.logo-bullets {
    list-style: none;
    padding-left: 5px;
}
.logo-bullets li {
    position: relative;
    padding-left: 20px;
}
.logo-bullets li::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../images/logoBlack.png);
    background-size: cover;
    background-position: center;
    left: 0;
}

/* Media Queries
 * ----------------------------------------------------------------------------
*/
@media screen and (max-width: 400px) { /* Why not var(--min-width) here? */

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto;
    }
    .header img {
        grid-row: 1/2;
    }
    nav {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
    }
    nav a {
        padding: 0 100px;
    }
    nav a span {
        display: block;
        margin: 0 auto;
    }
}
